* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    text-align: center;
}

main {
    flex-grow: 1;

    .container {
        min-height: 95vh; /* WTF????? */
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        .calculator-case {
            width: 300px;
            height: 450px;
            background-color: var(--bg-color);
            border: 2px solid var(--grey);
            border-radius: var(--border-radius-b);
            -webkit-box-shadow: 0 0 11px -5px #000000;
            box-shadow: 0 0 11px -5px #000000;
        }
    }
}

footer {
    flex-shrink: 0;

    p {
        width: 100%;
        text-align: center;
        font-weight: bold;
    }
}

